body {
    background-color:yellow;
    color:blue;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 4em;
    margin-bottom: 0px;
}

header, main, nav, footer {
    text-align: center;
}

nav a {      /*links within "nav" container*/
    padding:15px;
    padding-bottom:4px;
    font-size: 1.8em;
    text-decoration: none; /*removes underline*/
    color: white;          /*by default, links are blue*/
}

nav a:hover {
    border-bottom:2px orange solid;
    font-size: 2em;
    transition: .9s;
}

nav link {
    text-align: center;
}

#me, #welcomeText {
    float:left;
    text-align:center;
}

footer {
    clear: left;
    font-size:0.65em;
    color: #0000ff;
}

#curr {
    color:#ff00ff;
}

table {
    margin: 0px auto;
}

td {
    padding-right: 10px;
    font-size: 1.3em;
}

td strong {
    color: orange;
}

#table-header {
    background-color: #004f23;
}

.table-row {
    background-color: #753900;
}

ul {
    text-align:left;
    padding-left: 200px;
}

.hobby {
    color:yellow;
}



