h1 {
    color: #f0c2e0;
    text-align: center;
}

div {
    float:right;
}
img {
    width:40%;
}

h2 {
    color: #faeaf5;
    text-align: center;
}

body {
    background-color:#d147a3;
    color:white;
}

form {
    /*width:40%;*/
    margin-left:400px;
    position: relative;
}

footer {
    
    font-size:0.65em;
    color: white;
}

#me {
    width:10%;
}